@use "../../styles/animations";
@use "../../styles/colors";

#info {
	display: flex;
	flex-direction: column;
	grid-column: span 1;
	padding-inline: var(--sections-gap);
	border-right: 1px solid colors.$accent-color;

	* {
		text-align: end;
	}

	h3, h4 {
		margin-block: 0;
	}

	p, li {
		line-height: 2;
	}

	li a {
		// Enables scaling, since anchor elements are normally inline, which transforms do not affect
		display: block;
		@include animations.scale-on-hover($duration: 0.08s, $delay: 0.0s);

		&:hover img {
			@include animations.spin($delay: 0.0s);
		}
	}

	li {
		font-size: 1.25rem;
	}

	.li-with-icon {
		display: flex;
		align-items: center;
		justify-content: end;
		column-gap: 2ch;

		.contact-icon {
			@include colors.black-to-accent;
		}

		* {
			margin-bottom: 0;
		}

		#logo-linkedin {
			transform: scale(1.1);
		}
	}

	hgroup {
		margin-top: 1rem;

		p {
			margin-bottom: 0;
		}
	}

	.color-accent {
		font-weight: bold;
	}

	.contact-icon {
		height: 3ex;
	}

	#contact-list {
		margin-top: 0;
		padding: 0;
		list-style: none;
	}

	#tech-expertise-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		list-style: none;
	}
}